body{

font-family:Arial;

background:#c7535d;

display:flex;

justify-content:center;

margin-top:50px;

}

.contenedor{

background:rgb(191, 201, 57);

padding:30px;

width:350px;

border-radius:10px;

box-shadow:0 0 10px lightgray;

}

input,
textarea{

width:100%;

padding:10px;

margin-bottom:15px;

}

button{

width:100%;

padding:10px;

background:steelblue;

color:white;

border:none;

cursor:pointer;

}

button:hover{

background:royalblue;

}

#resultado{

margin-top:15px;

font-weight:bold;

}